################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CineComplex.Web.AdminMvc/FileContentIndex
/.vs/CineComplex.Web.AdminMvc/v18
