
@{
    // ViewBag.Title = "ViewBag";
    ViewData["Title"] = "Movie List";
    
}

<h2>My @ViewData["Title"]</h2>

<p>Hello from our View Template HelloWorldView. Note: users visited @ViewData["Clicks"]</p>
